@import '../../settings';

div.card-item {
  background-color: white;
  padding: $gap;
  border-radius: $card-boarder-radius;
  box-shadow: 0 1px 1px rgba($color: black, $alpha: 0.1);
  cursor: pointer;

  margin-bottom: $gap;

  img {
    display: block;
    width: calc(100% + 2 * #{$gap});
    margin: -$gap 0 $gap (-$gap);

    border-top-left-radius: $card-boarder-radius;
    border-top-right-radius: $card-boarder-radius;
  }
}
