$board-bg-color: #0079bf;
$navbar-app-bg-color: #0067a3;
$navbar-board-bg-color: #0079bf;
$list-bg-color: #ebecf0;
$gap: 10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-boarder-radius: 5px;
$card-boarder-radius: 3px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3rem;
  font-size: 14px;
}

.trello-master {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
  .navbar {
    padding-left: $gap;
    display: flex;
    align-items: center;

    &.app {
      font-size: 1.5rem;
      background-color: $navbar-app-bg-color;
    }
    &.board {
      font-size: 1.1rem;
      background-color: $navbar-board-bg-color;
    }
  }
  .board-columns {
    display: flex;
    overflow-x: auto;

    .column {
      flex: 0 0 auto;
      width: 300px;
      height: calc(100% - #{$gap});
      margin-left: 10px;

      > * {
        background-color: $list-bg-color;
        color: #333;
        padding: 0 8px;
      }
      header {
        padding-left: 15px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: $column-boarder-radius;
        border-top-right-radius: $column-boarder-radius;
      }
      footer {
        padding-left: 15px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        border-bottom-left-radius: $column-boarder-radius;
        border-bottom-right-radius: $column-boarder-radius;
      }

      ul {
        list-style-type: none;
        margin: 0;
        max-height: calc(
          100% - #{$column-header-height} - #{$column-footer-height}
        );
        overflow-y: auto;
        li {
          background-color: white;
          padding: $gap;
          border-radius: $card-boarder-radius;
          box-shadow: 0 1px 1px rgba($color: black, $alpha: 0.1);

          // &:not(:last-child) to Not apply css to last li tag
          &:not(:last-child) {
            margin-bottom: $gap;
          }
          img {
            display: block;
            width: calc(100% + 2 * #{$gap});
            margin: -$gap 0 $gap (-$gap);

            border-top-left-radius: $card-boarder-radius;
            border-top-right-radius: $card-boarder-radius;
          }
        }
      }
    }
  }
}
